.hero {
    margin-top: clamp(0.438rem, -14.514rem + 24.12vw, 7.25rem);
    margin-bottom: 150px;

    &__container {
        display: flex;
        gap: 70px 20px;
        justify-content: space-between;

        @media (max-width: 1100px) {
            flex-direction: column;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: clamp(2.625rem, 1.691rem + 3.11vw, 4.5rem);
        font-weight: 600;
        line-height: 110%; /* 79.2px */
        text-align: left;
    }

    &__descr-wrapper {
        margin-top: 32px;
        margin-bottom: 48px;
        display: flex;
        gap: 15px 30px;

        @media (max-width: 1220px) {
            flex-direction: column;
        }

        @media (max-width: 1100px) {
            flex-direction: row;
        }

        @media (max-width: 760px) {
            flex-direction: column;
        }
    }

    &__descr {
        border: 1px solid var(--accent-light-color);
        border-radius: 20px;
        padding: 34px 25px;
        box-sizing: content-box;
        max-width: max-content;

        color: #1F1F1F;
        font-size: 18px;
        line-height: 130%; /* 23.4px */
    }

    &__btn-wrapper {
        display: flex;
        gap: 10px 30px;
        flex-wrap: wrap;
    }

    &__image-wrapper {
        position: relative;
        flex: 0 0 calc(545px / 1444px * 100%);
        align-self: flex-end;
        margin-bottom: 17px;

        @media (max-width: 1220px) {
            align-self: center;
            margin-bottom: 0;
        }
    }

    &__image {
        position: relative;
        width: 100%;
        height: auto;
    }

    &__image-before {
        position: absolute;
        bottom: calc(106px / 330px * 100%);
        right: calc(-124px / 545px * 100%);
        transform: rotate(30deg);
        z-index: -1;
        width: calc(363px / 545px * 100%);
        height: auto;
    }
}